.burger__container{
    margin-right: 5px;
    padding: 7px 5px;
    padding-bottom: 0px;
    background-color: rgb(238, 243, 249);
    border-radius: 5px;
    border: 0px;
}
.burger{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
}
.burger::before,
.burger::after{
    content: '';
    background-color: rgb(110, 112, 115);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
}
.burger::after{
    bottom: 0;
}
.burger span{
    position: absolute;
    background-color: rgb(110,112,115);
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;

}
.burger::before{
    top: 0px;
}