@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&;500display=swap');

.LoginForm {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: 'Roboto';
    color: rgb(109, 109, 109);
    /*background-color: rgb(238, 243, 249);*/
    background-color: var(--main-bg-color);/*var location is index.css*/
    transition: 500ms;
    pointer-events: none;
    opacity: 0;
}

.LoginForm.active {
    opacity: 1;
    pointer-events: all;
}

.LoginForm__buttons {
    padding-top: 12px;
    width: 91%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.LoginForm__buttons_block {
    display: flex;
    align-items: center;
}

.loginForm__link {
    font-weight: 500;
}

.loginForm__link:hover {
    color: rgb(94, 131, 161);
}

.loginForm__send {
    margin-top: 12px;
}